*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.container {
    background-color: darkgoldenrod;
    margin-top: 50px;
}

.bottone {
    text-decoration: none;
    background-color: lightcoral;
    color: black;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
}